<!DOCTYPE html>
<html>
	<head>
		<title>Templates</title>
	</head>
	<body>
		<h1>Template Element Examples</h1>

		<nav>
			<ul>
				<li><a href="simple/">Simple Template</a></li>
				<li><a href="table/">"Data Binding"</a></li>
			</ul>
		</nav>

		<h3>For more on the template element...</h3>
		<nav>
			<ul>
				<li><a href="http://dannyrb.com/posts/the-template-tag-a-refresher/">A Refresher on the Template Tag</a></li>
				<li><a href="http://www.html5rocks.com/en/tutorials/webcomponents/template/">HTML5 Rocks! Tutorial</a></li>
				<li><a href="http://blog.teamtreehouse.com/creating-reusable-markup-with-the-html-template-element">Team Treehouse</a></li>
			</ul>
		</nav>


	</body>
</html>
